# Deny directory listing
Options -Indexes

# Set index.php as the directory index
DirectoryIndex index.php

# Explicitly allow index.php
<Files "index.php">
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Allow from all
    </IfModule>
</Files>
